<div class='intro'>
  <h1>Hi, I am David Harting</h1>

  <img id='headshot' src="images/headshot.jpg">

  <p class='tagline'>
    I am a software engineer from Indianapolis building software that helps people love their jobs.
  </p>
</div>
